// root colors
$primarary-red: #ff6464;
$secondary-blue: #00a8cc;
$dark-blue: #21243d;
$light-blue: #8695a4;
$bg-white: #e5e5e5;
$black: #000000;
$white: #ffffff;
$bg-light-blue: #edf7fa;

// Font-sizes
$large-h1-fs: 4.4rem;
$large-h1-lh: 1.3;
$large-h2-fs: 3rem;
$large-h2-lh: 1.46;
$large-h3-fs: 2.6rem;
$large-h3-lh: 1.4;
$middle-fs: 2.2rem;
$middle-lh: 1.36;
$medium-fs: 2rem;
$medium-lh: 1.4;
$medium2-fs: 1.8rem;
$medium2-lh: 3.3;
$small-text-fs: 1.6rem;
$small-text-lh: 1.4;
